In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from flask import Flask, jsonify, request, url_for, redirect, render_template
import datetime as dt
import os
import csv 
import numpy as np
from flask_pymongo import PyMongo
import lda
import lda.datasets

In [11]:
data = pd.read_csv("2013-06 - Citi Bike trip data.csv", index_col=None)
data1 = pd.read_csv("2013-07 - Citi Bike trip data.csv", index_col=None)
data2 = pd.read_csv("2013-08 - Citi Bike trip data.csv", index_col=None)

In [4]:
data1 = pd.read_csv("2013-07 - Citi Bike trip data.csv", index_col=None)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1
5,861,2013-07-01 00:01:23,2013-07-01 00:15:44,511,E 14 St & Avenue B,40.729387,-73.977724,454,E 51 St & 1 Ave,40.754557,-73.965930,16223,Subscriber,1988,1
6,550,2013-07-01 00:01:59,2013-07-01 00:11:09,293,Lafayette St & E 8 St,40.730287,-73.990765,394,E 9 St & Avenue C,40.725213,-73.977688,16746,Customer,\N,0
7,288,2013-07-01 00:02:16,2013-07-01 00:07:04,224,Spruce St & Nassau St,40.711464,-74.005524,376,John St & William St,40.708621,-74.007222,16062,Subscriber,1985,2
8,766,2013-07-01 00:02:16,2013-07-01 00:15:02,432,E 7 St & Avenue A,40.726218,-73.983799,336,Sullivan St & Washington Sq,40.730477,-73.999061,17963,Subscriber,1980,2
9,773,2013-07-01 00:02:23,2013-07-01 00:15:16,173,Broadway & W 49 St,40.760647,-73.984427,479,9 Ave & W 45 St,40.760193,-73.991255,19365,Subscriber,1989,1
10,456,2013-07-01 00:02:23,2013-07-01 00:09:59,146,Hudson St & Reade St,40.716250,-74.009106,351,Front St & Maiden Ln,40.705310,-74.006126,16321,Subscriber,1976,1
11,632,2013-07-01 00:02:24,2013-07-01 00:12:56,251,Mott St & Prince St,40.723180,-73.994800,307,Canal St & Rutgers St,40.714275,-73.989900,18935,Subscriber,1967,1
12,623,2013-07-01 00:02:24,2013-07-01 00:12:47,479,9 Ave & W 45 St,40.760193,-73.991255,493,W 45 St & 6 Ave,40.756800,-73.982912,16036,Customer,\N,0
13,228,2013-07-01 00:02:33,2013-07-01 00:06:21,504,1 Ave & E 15 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,16593,Subscriber,1987,1
14,643,2013-07-01 00:02:44,2013-07-01 00:13:27,479,9 Ave & W 45 St,40.760193,-73.991255,493,W 45 St & 6 Ave,40.756800,-73.982912,19677,Customer,\N,0
15,1312,2013-07-01 00:03:10,2013-07-01 00:25:02,474,5 Ave & E 29 St,40.745168,-73.986831,128,MacDougal St & Prince St,40.727103,-74.002971,15480,Customer,\N,0
16,424,2013-07-01 00:03:14,2013-07-01 00:10:18,477,W 41 St & 8 Ave,40.756405,-73.990026,485,W 37 St & 5 Ave,40.750380,-73.983390,15013,Subscriber,1972,1
17,1129,2013-07-01 00:03:30,2013-07-01 00:22:19,470,W 20 St & 8 Ave,40.743453,-74.000040,450,W 49 St & 8 Ave,40.762272,-73.987882,16017,Subscriber,1969,1
18,311,2013-07-01 00:03:58,2013-07-01 00:09:09,494,W 26 St & 8 Ave,40.747348,-73.997236,458,11 Ave & W 27 St,40.751396,-74.005226,20595,Customer,\N,0
19,1275,2013-07-01 00:04:10,2013-07-01 00:25:25,345,W 13 St & 6 Ave,40.736494,-73.997044,455,1 Ave & E 44 St,40.750020,-73.969053,16236,Subscriber,1983,1
20,318,2013-07-01 00:05:09,2013-07-01 00:10:27,406,Hicks St & Montague St,40.695128,-73.995951,237,E 11 St & 2 Ave,40.730473,-73.986724,19170,Subscriber,1983,2
21,1603,2013-07-01 00:05:26,2013-07-01 00:32:09,521,8 Ave & W 31 St,40.750450,-73.994811,406,Hicks St & Montague St,40.695128,-73.995951,17793,Customer,\N,0
22,440,2013-07-01 00:05:31,2013-07-01 00:12:51,422,W 59 St & 10 Ave,40.770513,-73.988038,516,E 47 St & 1 Ave,40.752069,-73.967844,18330,Subscriber,1990,1
23,801,2013-07-01 00:05:35,2013-07-01 00:18:56,173,Broadway & W 49 St,40.760647,-73.984427,490,8 Ave & W 33 St,40.751551,-73.993934,17230,Subscriber,1899,2
24,452,2013-07-01 00:05:37,2013-07-01 00:13:09,519,Pershing Square N,40.751884,-73.977702,516,E 47 St & 1 Ave,40.752069,-73.967844,16408,Subscriber,1987,2
25,305,2013-07-01 00:05:41,2013-07-01 00:10:46,151,Cleveland Pl & Spring St,40.721816,-73.997203,293,Lafayette St & E 8 St,40.730287,-73.990765,19080,Subscriber,1985,1
26,682,2013-07-01 00:05:47,2013-07-01 00:17:09,494,W 26 St & 8 Ave,40.747348,-73.997236,127,Barrow St & Hudson St,40.731724,-74.006744,19411,Subscriber,1987,1
27,1444,2013-07-01 00:05:49,2013-07-01 00:29:53,312,Allen St & E Houston St,40.722055,-73.989111,312,Allen St & E Houston St,40.722055,-73.989111,14842,Customer,\N,0
28,537,2013-07-01 00:05:51,2013-07-01 00:14:48,487,E 20 St & FDR Drive,40.733143,-73.975739,439,E 4 St & 2 Ave,40.726281,-73.989780,20330,Subscriber,1986,1
29,1456,2013-07-01 00:06:27,2013-07-01 00:30:43,352,W 56 St & 6 Ave,40.763406,-73.977225,490,8 Ave & W 33 St,40.751551,-73.993934,15721,Subscriber,1985,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
843386,1229,2013-07-31 23:57:05,2013-08-01 00:17:34,369,Washington Pl & 6 Ave,40.732241,-74.000264,479,9 Ave & W 45 St,40.760193,-73.991255,15345,Customer,\N,0
843387,352,2013-07-31 23:57:07,2013-08-01 00:02:59,358,Christopher St & Greenwich St,40.732916,-74.007114,434,9 Ave & W 18 St,40.743174,-74.003664,17497,Subscriber,1968,1
843388,1143,2013-07-31 23:57:16,2013-08-01 00:16:19,507,E 25 St & 2 Ave,40.739126,-73.979738,336,Sullivan St & Washington Sq,40.730477,-73.999061,15353,Subscriber,1960,2
843389,586,2013-07-31 23:57:17,2013-08-01 00:07:03,512,W 29 St & 9 Ave,40.750073,-73.998393,463,9 Ave & W 16 St,40.742065,-74.004432,17114,Subscriber,1976,2
843390,893,2013-07-31 23:57:32,2013-08-01 00:12:25,404,9 Ave & W 14 St,40.740583,-74.005509,445,E 10 St & Avenue A,40.727408,-73.981420,15184,Subscriber,1986,1
843391,2144,2013-07-31 23:57:45,2013-08-01 00:33:29,72,W 52 St & 11 Ave,40.767272,-73.993929,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,16695,Subscriber,1959,1
843392,417,2013-07-31 23:57:46,2013-08-01 00:04:43,516,E 47 St & 1 Ave,40.752069,-73.967844,434,9 Ave & W 18 St,40.743174,-74.003664,17694,Subscriber,1981,1
843393,958,2013-07-31 23:57:48,2013-08-01 00:13:46,358,Christopher St & Greenwich St,40.732916,-74.007114,302,Avenue D & E 3 St,40.720828,-73.977932,18948,Subscriber,1988,1
843394,3236,2013-07-31 23:57:52,2013-08-01 00:51:48,512,W 29 St & 9 Ave,40.750073,-73.998393,467,Dean St & 4 Ave,40.683125,-73.978951,19064,Subscriber,1979,2
843395,1122,2013-07-31 23:57:53,2013-08-01 00:16:35,476,E 31 St & 3 Ave,40.743943,-73.979661,445,E 10 St & Avenue A,40.727408,-73.981420,15905,Subscriber,1981,1
843396,718,2013-07-31 23:58:03,2013-08-01 00:10:01,488,W 39 St & 9 Ave,40.756458,-73.993722,402,Broadway & E 22 St,40.740343,-73.989551,18320,Subscriber,1976,1
843397,623,2013-07-31 23:58:09,2013-08-01 00:08:32,345,W 13 St & 6 Ave,40.736494,-73.997044,293,Lafayette St & E 8 St,40.730287,-73.990765,14939,Subscriber,1985,1
843398,502,2013-07-31 23:58:09,2013-08-01 00:06:31,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,16180,Customer,\N,0
843399,555,2013-07-31 23:58:16,2013-08-01 00:07:31,2004,6 Ave & Broome St,40.724399,-74.004704,306,Cliff St & Fulton St,40.708235,-74.005301,16101,Subscriber,1984,1
843400,105,2013-07-31 23:58:20,2013-08-01 00:00:05,521,8 Ave & W 31 St,40.750450,-73.994811,490,8 Ave & W 33 St,40.751551,-73.993934,18252,Subscriber,1986,1
843401,191,2013-07-31 23:58:39,2013-08-01 00:01:50,2010,Grand St & Greene St,40.721655,-74.002347,151,Cleveland Pl & Spring St,40.721816,-73.997203,14909,Subscriber,1977,1
843402,841,2013-07-31 23:58:39,2013-08-01 00:12:40,128,MacDougal St & Prince St,40.727103,-74.002971,473,Rivington St & Chrystie St,40.721101,-73.991925,18461,Customer,\N,0
843403,960,2013-07-31 23:58:44,2013-08-01 00:14:44,358,Christopher St & Greenwich St,40.732916,-74.007114,304,Broadway & Battery Pl,40.704633,-74.013617,15604,Subscriber,1985,1
843404,550,2013-07-31 23:58:44,2013-08-01 00:07:54,2022,E 59 St & Sutton Pl,40.758491,-73.959206,527,E 33 St & 1 Ave,40.743156,-73.974347,19156,Subscriber,1988,1
843405,575,2013-07-31 23:58:46,2013-08-01 00:08:21,504,1 Ave & E 15 St,40.732219,-73.981656,527,E 33 St & 1 Ave,40.743156,-73.974347,17800,Subscriber,1989,1
843406,932,2013-07-31 23:58:55,2013-08-01 00:14:27,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,418,Front St & Gold St,40.702240,-73.982578,16498,Subscriber,1981,1
843407,312,2013-07-31 23:58:55,2013-08-01 00:04:07,511,E 14 St & Avenue B,40.729387,-73.977724,483,E 12 St & 3 Ave,40.732233,-73.988900,18342,Subscriber,1972,1
843408,1456,2013-07-31 23:58:59,2013-08-01 00:23:15,494,W 26 St & 8 Ave,40.747348,-73.997236,238,Bank St & Washington St,40.736197,-74.008592,16268,Customer,\N,0
843409,1497,2013-07-31 23:59:03,2013-08-01 00:24:00,494,W 26 St & 8 Ave,40.747348,-73.997236,238,Bank St & Washington St,40.736197,-74.008592,18709,Customer,\N,0
843410,1000,2013-07-31 23:59:35,2013-08-01 00:16:15,268,Howard St & Centre St,40.719105,-73.999733,391,Clark St & Henry St,40.697601,-73.993446,15227,Subscriber,1981,1
843411,1493,2013-07-31 23:59:40,2013-08-01 00:24:33,285,Broadway & E 14 St,40.734546,-73.990741,305,E 58 St & 3 Ave,40.760958,-73.967245,16279,Customer,\N,0
843412,417,2013-07-31 23:59:44,2013-08-01 00:06:41,460,S 4 St & Wythe Ave,40.712859,-73.965903,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15287,Customer,\N,0
843413,903,2013-07-31 23:59:49,2013-08-01 00:14:52,146,Hudson St & Reade St,40.716250,-74.009106,342,Columbia St & Rivington St,40.717400,-73.980166,18213,Subscriber,1963,1
843414,455,2013-07-31 23:59:50,2013-08-01 00:07:25,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,15085,Subscriber,1981,1
843415,875,2013-07-31 23:59:56,2013-08-01 00:14:31,146,Hudson St & Reade St,40.716250,-74.009106,342,Columbia St & Rivington St,40.717400,-73.980166,19333,Subscriber,1964,1

In [6]:
data.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,5.777030e+05,577703.000000,577703.000000,577703.000000,559644.000000,559644.000000,559644.000000,577703.000000,337382.000000,577703.000000
mean,1.372570e+03,439.228836,40.732436,-73.991251,441.910624,40.732146,-73.991244,17617.434516,1974.644945,0.710431
std,9.028063e+03,337.240318,0.021423,0.013002,345.448311,0.021507,0.013105,1677.518719,10.780255,0.678268
min,6.100000e+01,72.000000,40.646607,-74.017134,72.000000,40.646607,-74.017134,14529.000000,1899.000000,0.000000
25%,5.140000e+02,309.000000,40.717400,-74.001768,309.000000,40.716887,-74.001971,16161.000000,1968.000000,0.000000
50%,8.740000e+02,404.000000,40.734546,-73.990741,403.000000,40.734232,-73.990741,17638.000000,1977.000000,1.000000
75%,1.398000e+03,482.000000,40.749013,-73.981948,482.000000,40.748549,-73.981923,19066.000000,1983.000000,1.000000
max,3.876479e+06,3020.000000,40.771522,-73.950048,3020.000000,40.771522,-73.950048,20625.000000,1997.000000,2.000000

In [7]:
data1.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,gender
count,8.434160e+05,843416.000000,843416.000000,843416.000000,843416.000000,843416.000000,843416.000000,843416.000000,843416.000000
mean,9.981007e+02,428.445424,40.733611,-73.991241,429.437272,40.733218,-73.991257,17615.627889,0.978747
std,7.146790e+03,313.478523,0.020584,0.012760,320.087328,0.020652,0.012888,1703.568990,0.626986
min,6.000000e+01,72.000000,40.680342,-74.017134,72.000000,40.680342,-74.017134,14529.000000,0.000000
25%,4.440000e+02,305.000000,40.718939,-74.001547,304.000000,40.717821,-74.001768,16136.000000,1.000000
50%,7.290000e+02,401.000000,40.735324,-73.990931,399.000000,40.734927,-73.990931,17627.000000,1.000000
75%,1.202000e+03,482.000000,40.750200,-73.981923,480.000000,40.749718,-73.981923,19088.000000,1.000000
max,6.250750e+06,3002.000000,40.770513,-73.950048,3002.000000,40.770513,-73.950048,20626.000000,2.000000

In [12]:
data2.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,gender
count,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06,1.001958e+06
mean,9.795802e+02,4.402721e+02,4.073396e+01,-7.399122e+01,4.406920e+02,4.073360e+01,-7.399126e+01,1.759646e+04,1.012827e+00
std,2.258803e+03,3.486319e+02,2.031681e-02,1.269275e-02,3.540579e+02,2.040072e-02,1.280682e-02,1.699679e+03,6.197801e-01
min,6.000000e+01,7.200000e+01,4.068034e+01,-7.401713e+01,7.200000e+01,4.068034e+01,-7.401713e+01,1.452900e+04,0.000000e+00
25%,4.400000e+02,3.040000e+02,4.071911e+01,-7.400155e+01,3.040000e+02,4.071894e+01,-7.400177e+01,1.612300e+04,1.000000e+00
50%,7.240000e+02,4.020000e+02,4.073588e+01,-7.399093e+01,4.010000e+02,4.073532e+01,-7.399093e+01,1.759100e+04,1.000000e+00
75%,1.199000e+03,4.840000e+02,4.075020e+01,-7.398195e+01,4.820000e+02,4.074972e+01,-7.398195e+01,1.905500e+04,1.000000e+00
max,7.617930e+05,3.002000e+03,4.077051e+01,-7.395005e+01,3.002000e+03,4.077051e+01,-7.395005e+01,2.066400e+04,2.000000e+00